{% extends "base.html" %}
{% block content %}


<div class="col-md-8">
  <div class="marquee" style="border:2px #00ADB5 hidden; background-color:white">
    <h4
      style="background-color:#00ADB5; margin-top:-1.8px; margin-bottom:1px;padding: 5px; text-align: center;color:white;font-weight:bold">
      &nbsp; <span id="pagetitle">Admin Account</span></h4>
    <div class="marquee-content" style="text-align:center; padding-top:200px;min-height:750px;background-color:#F0F0F0">
      <h1 class="center">
        Hey Admin! Welcome to Our Procurement Management System
      </h1>
      <h2 class="center">
        Here You can manage your vendors, add tenders and assign it to vendors according to their high bids
      </h2>
      <h3 class="center">
        Go on the about menu section links to explore the site
      </h3>
      <h3 class="center">
        You can also add notice,update it and delete the notice board from the database!
      </h3>
    </div>
  </div>
</div>




<a>
  <h1></h1>
</a>
{% endblock %}