<div class="menubar secondnav " style="background-color:white;">
  <div id="menucontent" class="container secondnav">
    <div id="collapsable-nav" class="collapse navbar-collapse hidden-lg hidden-md">
      <ul id="nav-list" class="nav navbar-nav navbar-left pull-left">
        <li id="navHomeButton">
          <a href="/adminHome">
            <i class="fa-solid fa-house"></i> Home</a> <!--Home button is here -->
        </li>
        <!-- <li class="dropdown">
                <a class="dropdown-toggle " data-toggle="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight" data-hover="dropdown">Vendors
                    <span class="caret"></span></a>    Dropdown under about us category
                <ul class="dropdown-menu">
                  <li><a href="viewVendor.jsp">View All Vendors</a></li>
                  <li><a href="ApproveVendor">Approve Vendors</a></li>
                  <li><a href="vendorDetail.jsp">Vendor Detail</a></li>
                </ul>
              </li> -->
        <li><a href="/adminViewVendor">Vendors</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
            <!--Dropdown under tender category -->
            Tender
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/viewTender">View all Tenders</a></li>
            <li><a href="/createTender">Create New Tender</a></li>
            <li><a href="/viewTenderBids">View Tender Bids</a></li>
            <li><a href="/viewTenderBids">Accept a bid</a></li>
            <li><a href="/viewAssignedTenders">View Assigned Tenders</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle " data-toggle="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight"
            data-hover="dropdown">Notice
            <span class="caret"></span></a> <!--Dropdown under about us category -->
          <ul class="dropdown-menu">
            <li><a href="/addNotice">Add Notice</a></li>
            <li><a href="/removeNotice">Remove Notice</a></li>
            <li><a href="/updateNotice">Update Notice</a></li>
            <li><a href="/viewNotice">View All Notice</a></li>
          </ul>
        </li>

        <li>
          <a href="/logoutSuccess">Logout</a>

        </li>

        <li>
          <!-- Form for searching any tenders or items-->
          <form class="navbar-form hidden-xs" action="/searchTender">
            <div class="form-group">
              <input type="text" name="tid" class="form-control" placeholder="Find Tenders by name or tenderId"
                style="margin-left:10px; width: 335px;" required>
            </div>

            <button type="submit" class="btn btn-primary">Search <i class="fa-solid fa-magnifying-glass"></i></button>

          </form>
          <!--End of form section-->
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/ajax-utils.js')}}"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-dropdownhover.min.js')}}"></script>