<div class="footer">
  <div class="navbar-inverse"
    style="color:white;padding:5px;margin-bottom:-17px;padding-top:10px;text-align: center;background-color:#00ADB5; border-radius: 0px">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a href="{{params['tw_url']}}" , target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{params['fb_url']}}" , target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{{params['gh_url']}}" , target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
    <span style="float:left;padding-left: 6.5%">&copy; Copyright 2023</span>
    <span style="padding-left:5%;">&nbsp;
      Procurement
      Management Portal</span>

    <span style="float:right;padding-right: 6%" class="hidden-xs">&nbsp;...THANKS FOR
      VISITING...</span>
  </div>
</div>
<script src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/ajax-utils.js')}}"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-dropdownhover.min.js')}}"></script>