<div class="card">
<div class="marquee" style="border:2px #00ADB5 solid;background-color:white">
  <h5 style="background-color:#00ADB5; margin-top:-1.8px; padding: 5px; color: white;"><i class="fa-solid fa-volume-high"></i>
    &nbsp; Latest Updates and Notice</h5>
  <div class="marquee-content" style="padding:10px;font-weight: bold;font-size: 1.1em">
    <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrollamount="5" height="380px">
      <!-- marquee height and stop start characteristics-->
      <!-- Notice Content-->

      {% for notice in notices %}
      <p style="font-weight: bold;"><i class="fa-solid fa-hand-point-right" style="color: black;"></i>
          <strong style="color:red">
            {{notice.title}}
          </strong><br><br>
          {{notice.info}}
        
      </p>
      {% endfor %}
      <hr />

    </marquee><!-- End of marquee-->

    <!-- End of Notice Section -->

  </div> <!--End of marquee-content-->
</div> <!-- End of marquee class-->
</div>