{% extends "base.html" %}
{% block head %}
<style>
	th,
	tr {
		height: 50px;
		border: 2px black solid;
	}

	td {
		min-width: 145px;
		border: 2px dashed black;
	}

	table {
		text-align: center;
		border-radius: 10px;
		border: 1px red solid;
		text-align: center;
		background-color: #F0F0F0;
		margin: 20px;
		color: blue;
		font-style: normal;
		font-size: 15.5px;
		padding: 20px;
	}

	tr:hover {
		background-color: #DEBEE1;
		color: black;
	}

	textarea:hover {
		background-color: #DEBEE1;
		color: black;
	}

	button:hover {
		background-color: red;
		color: white;
		font-size: bold;
	}
</style>

{% endblock %}

{% block content %}



<!-- Next part of same container-fluid in which gallery or other information will be shown-->


<div class="col-md-8">
	<!-- <div class="marquee" style="border:2px black hidden; background-color:white">
        <h4 style="background-color:black; margin-top:-1.8px; margin-bottom:1px;padding: 5px; text-align: center;color:red;font-weight:bold">
        &nbsp; <span id="pagetitle">Admin Account</span></h4>pagetitle id is given here
        <div class="marquee-content" style="align:center; padding-top:200px;min-height:750px;background-color:#F0F0F0">
     		 -->
	<table style="border-radius: 10px" cellpadding="10" cellspacing="10">
		<tr>
			<td id="show" style="min-width: 850px; color: black; background-color: white">Delete Notices</td>
		</tr>
	</table>


	<table style="background-color: white" cellpadding="10" cellspacing="10">
		<tr style="color: white; font-size: 22px; font-weight: bold; background-color: #00ADB5">
			<td>Notice Id</td>
			<td>Title</td>
			<td>Description</td>
			<td>Remove</td>
		</tr>
{% for notice in notices %}

		<tr>
			<td>
				{{notice.id}}
			</td>
			<td>
				{{notice.title}}
			</td>
			<td cols="70">
				{{notice.info}}
			</td>
			<td><a href="/removeNotice/{{notice.id}}"><button class="btn btn-danger">Remove</button></a>
			</td>
		</tr>
{% endfor %}


		<!-- <% } %> -->
	</table>


	<!-- </div>
     </div> -->
</div>
{% endblock %}