{% extends "base.html" %}
{% block head %}
<style>
  input,
  textarea,
  select {
    min-width: 450px;
    font-size: 16px;
    background-color: #f8f8f8;
  }

  input:hover,
  textarea:hover,
  select:hover {
    min-width: 450px;
    background-color: white;
  }

  table,
  th,
  td {
    margin-bottom: 10px;
    margin-left: 20%;
    font-size: 20px;
    border: 2px solid green;
    text-align: center;
    background-color: white;
    color: #003399;
  }

  td {
    padding: 12px;
    background-color: none;
  }

  th {
    padding: 12px;
    background-color: #00ADB5;
    color: white;
    font-weight: bold;
  }
</style>

{% endblock %}

{% block content %}

<!-- Next part of same container-fluid in which gallery or other information will be shown-->
{% include "login.html" %}
<!-- <%-- <jsp:include page="login.jsp"></jsp:include> --%> -->

  <div class="col-md-8">
    <!-- <div class="marquee" style="border:2px black hidden; background-color:white">
        <h4 style="background-color:black; margin-top:-1.8px; margin-bottom:1px;padding: 5px; text-align: center;color:red;font-weight:bold">
        &nbsp; <span id="pagetitle">Tender Creation</span></h4>pagetitle id is given here
        <div  class="marquee-content" style="align:center; padding-top:5px;min-height:750px;background-color:#F0F0F0">
      -->

    <table style="border-radius:10px">
      <tr>
        <td id="show" style="min-width:700px;min-height:0px;color:blue">Edit Details And Click on Update</td>
      </tr>
    </table>

    <!-- <% VendorBean vendor=(VendorBean)session.getAttribute("vendordata"); %> -->

      <form action="ChangePasswordSrv" method="post">
        <table style="background-color:white">
          <th colspan="2">Change Password<input type="hidden" name="vid" value="<%=vendor.getId() %>"></th>
          <tr>
            <td style="color:red"> Enter Old Password: </td>
            <td> <input type="password" name="oldpassword" required="required"></td>
          </tr>

          <tr>
            <td style="color:red"> Enter New Password: </td>
            <td> <input type="password" name="newpassword" required="required"></td>
          </tr>

          <tr>
            <td style="color:red"> Re-Enter New Password: </td>
            <td> <input type="password" name="verifynewpassword" required="required"></td>
          </tr>
          <tr>
            <td colspan="2" text-align="center"><input type="submit" value="Change Password"></td>
          </tr>

        </table>
      </form>

      <!-- </div>
     </div> -->
  </div>


  {% endblock %}