{% extends "base.html" %}
{% block head %}
<style>
	th,
	tr {
		height: 50px;
		border: 2px black solid;

	}

	td {
		min-width: 90px;
		border: 2px dashed black;
	}

	table {
		text-align: center;
		border-radius: 10px;
		border: 1px red solid;
		text-align: center;
		background-color: #F0F0F0;
		margin: 20px;
		color: blue;
		font-style: normal;
		font-size: 15.5px;
		padding: 20px;
	}

	tr:hover {
		background-color: #DEBEE1;
		color: black;
	}

	textarea:hover {
		background-color: #ADBFAF;
		color: black;
	}

	.button:hover {
		background-color: green;
		color: white;
		font-size: bold;
	}

	#show {

		text-align: center;
		border-radius: 10px;
		border: 1px red solid;
		text-align: center;
		background-color: #F0F0F0;
		margin: 20px;
		margin-left: 40px;
		color: black;
		font-style: normal;
		font-size: 15.5px;
		padding: 12px;
	}

	button:hover {

		background-color: green;
		color: white;
	}
</style>

{% endblock %}

{% block content %}


<!-- Next part of same container-fluid in which gallery or other information will be shown-->


<div class="col-md-8">
	<!-- <div class="marquee" style="border:2px black hidden; background-color:white">
        <h4 style="background-color:black; margin-top:-1.8px; margin-bottom:1px;padding: 5px; text-align: center;color:red;font-weight:bold">
        &nbsp; <span id="pagetitle">Admin Account</span></h4>pagetitle id is given here
        <div class="marquee-content" style="align:center; padding-top:200px;min-height:750px;background-color:#F0F0F0">
     		 -->
	<div id="show">

		Edit the Given Notice Title and Description in the given box and click on update

	</div>





	<table style="background-color:white" cellpadding="10" cellspacing="10">
		<tr style="color:white; font-size:18px; font-weight:bold;background-color:#00ADB5">
			<td>Notice Id</td>
			<td>Title </td>
			<td> Description</td>
			<td>Action </td>
		</tr>
		{% for notice in notices %}

		<tr>
			<td>
				{{notice.id}}
			</td>
			<td style="width:120%;"><textarea name="title" readonly>{{notice.title}}</textarea></td>
			<td><textarea name="info" cols="60" readonly>{{notice.info}}</textarea></td>
			<td><a href="/updateNoticeForm/{{notice.id}}"><button class="btn btn-success">Update</button></a>
			</td>
		</tr>
		{% endfor %}
		<!-- <% } %> -->

	</table>







	<!-- </div>
     </div> -->
</div>

{% endblock %}